h1, h2, p {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-variant: normal;
	font-weight: 500;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
	color: #828282;
}

p {
	font-size: 1em;
	width:100%;
}

blockquote {
	font-family: 'IM Fell French Canon', serif;
	font-weight: 500;
	border-color:#7ad6bb;
	padding-right:60%;
	font-style: italic;
	margin: 35px;
	color: #999999;
}

img {
	margin-top: 30px;
}

article {
	margin: 50px;
}


li {
	text-decoration:none;
	display: inline;
}


.glyphicon {
	margin-right:5px;
}

.jumbotron {
	background-image: url(img/bg.png);
	background-repeat: repeat;
	background-attachment: fixed;
	height:200px;
	width: 100%;
	margin-bottom: 2px;
}

.header {
  width: 100%;
  height:60px;
  background-color: #7ad6bb;
}


.logo {
	position: relative;
	width:150px;
	height: auto;
	border: 4px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    bottom: 90px;
    left: 50px;
}

.iconav {
	border: 1px;
	position: relative;
	font-size: 1.4em;
	margin: 5px;
	top:0.2em;
	right: 25px;
	text-decoration: none;	   
	color: #FFF;
	padding: 10px;
	border: 2px solid transparent;
	-moz-border-radius: 50%;
    border-radius: 50%;
    transition: border 0.4s ease;

}

.iconav:hover, .iconav:active {
    border: 2px solid #fff;
    color: #FFF;
    text-decoration: none;
}

.iconav-activated {
	border: 2px solid #fff;
    color: #FFF;
    text-decoration: none;
}

.top {
	z-index: 25;
}

.fixed {
	position: fixed;
}

.centered {
 	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
 	}

.black-border {
	-webkit-box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.58);
	-moz-box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.58);
	box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.58);
	border: 10px solid rgba(0, 0, 0, .5);;
	height: 80%;
}

.image-wrapper img {
	height: 500px;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 1090px) {
	blockquote {
	padding-right:0; 
	margin-left: 15px;
	}
	.header {
		height: 120px;
	}
	.jumbotron {
		height: 160px;
	}
	.iconav {
		font-size: 5em;
		top: 0.1em;
		border: 5px solid transparent;
	}
	.logo {
		width: 230px;
		bottom: 110px;
	}
	.iconav:hover, .iconav:active {
    border: 5px solid #fff;
    color: #FFF;
    text-decoration: none;
	}

	.iconav-activated {
	border: 5px solid #fff;
    color: #FFF;
    text-decoration: none;
	}
	.glyphicon-map-marker {
		margin-right: 30px;
	}
	}
